.business-view {
    display: flex;
    flex-direction: column;
    align-items: center;

    .media-slider-container {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 35rem;
        width: 100%;
        
        .business-view-media-slider {
            display: flex;
            flex-direction: row;
            height: 35rem;
            width: 100%;
            overflow: hidden;

            .business-view-media {
                min-width: 25%;
                height: 35rem;
                flex-shrink: 0;
            }
        }

        .left-button, .right-button {
            position: absolute;
            width: 5rem;
            height: 5rem;
            top: 50% - 5%;
            border-radius: 50%;
            background-color: transparentize($color: #000000, $amount: 0.5);
            color: white;
            outline: none;
            font-size: 2rem;
        }
    
        .right-button {
            right: 0.5rem;
        }
    
        .left-button {
            left: 0.5rem;
        }
    
        .hidden {
            display: none;
        }
    }

    .business-view-inner-container {
        display: flex;
        flex-direction: column;
        max-width: 102.4rem;
        width: 100%;
        margin-top: -14.1rem;
        z-index: 100;

        .business-view-header {
            display: flex;
            background-color: transparentize($color: #000000, $amount: 0.6);
            padding: 1rem;

            .business-view-header-inner {
                
                h1, span {
                    color: white;
                }
            }
        }

        .business-view-body {
            padding: 1rem;

            .action-container {
                display: flex;
                flex-direction: row;
                border-bottom: 0.1rem solid grey;
                padding-bottom: 1rem;

                button {
                    max-width: 15rem;
                    min-width: 12rem;
                    width: 100%;
                    border: 0.1rem solid lightgrey;
                    font-size: 1.4rem;
                    padding: 1.2rem 0;
                    background-color: white;

                    &:hover {
                        background-color: lightgrey;
                        transition: linear 0.5s;
                    }
                }

                :last-child {
                    margin-left: 1rem;
                }
            }
        }
    }
}
