
@import 'themeColors';

.business-component {
    width: 100%;
    height: auto;
    border: 0.1rem solid lightgrey;
    border-radius: 1rem;
    margin-bottom: 1rem;

    &:hover {
        box-shadow: 0.2rem 0.2rem 0.2rem lightgray;
        transition-duration: 0.2s;
    }

    .inner-business-component {
        display: flex;
        flex-direction: row;
        width: 100%;

        .business-component-display {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            
            .business-component-header {
                display: flex;
                flex-direction: row;

                .business-name {
                    display: flex;
                    flex-direction: column;
                    flex: 2;
                }

                .business-address {
                    display: flex;
                    flex-direction: column;
                }
            }

            .business-component-body {
                display: flex;
                flex: 2;
            }

            .business-component-footer {
                display: flex;
                flex-wrap: wrap;
                border: 0.1rem solid lightgray;
                border-radius: 1rem;
                padding: 0 1rem;
                justify-content: space-evenly;
                align-items: center;
                background-color: lightgrey;


                span {
                    padding: 1rem;
                }
            }
        }
    }
}