.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .categories {
        flex-direction: row;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}