@import 'themeColors';

.column-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        width: 20rem;
        text-align: center;
        border-bottom: 0.1rem solid grey;
        line-height: 0.1rem;
        margin: 2rem 0 2rem;

        span {
            background: #fff;
            padding: 0 1rem;
        }
    }

    .input {
        width: 20rem;
        height: 3rem;
        border: solid 0.1rem grey;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0 0 0;
        font-size: 1.6rem;
    
        &:focus {
            outline: none;
        }
    }
    
    .social-button {
        display: flex;
        width: 22rem;
        height: 6.6rem;
        margin: 0.2rem;
        font-size: 1.5rem;
        align-items: center;
        padding: 1rem;
        border: 0.1rem solid $themeGrey;
        border-radius: 1rem;
    
        &:focus {
            outline: none;
        }
        &:hover {
            border: 0.1rem solid $themeTeal;
        }
    
        .icon {
            width: 3.2rem;
            height: 3.2rem;
            margin-right: 1rem;
        }
    }
    
    .span-text {
        width: 20rem;
        text-align: right;
        margin-top: 0.5rem;
    }
    
    .login-button {
        width: 20rem;
        height: 4.6rem;
        font-size: 2rem;
        margin: 2rem 0 0.5rem 0;
        color: $themeGrey;
        background: $themeTeal;
        border-radius: 1rem;

        &:focus {
            outline: none;
        }
    }
}