
.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: transparentize($color: #000000, $amount: 0.6);
}

.hidden {
    display: none;
}

@keyframes slideIn {
    from {
        bottom: 0
    } 
    to {
        top: 0
    }
}

@keyframes slideOut {
    from {
        bottom: 0
    } 
    to {
        top: 0
    }
}
