
.photo-slider {
    min-width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 1rem;
    position: relative;

    img {
        width: 100%;
        max-width: 20rem;
        height: 100%;
        border-radius: 1rem;
        transition: 2s ease-in ;
    }

    .left-button, .right-button {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 9rem;
        border-radius: 50%;
        background-color: transparentize($color: #000000, $amount: 0.5);
        color: white;
        outline: none;
    }

    .right-button {
        right: 0.5rem;
    }

    .left-button {
        left: 0.5rem;
    }

    .hidden {
        display: none;
    }
}