.search-bar {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    min-width: 30rem;
    max-width: 60rem;
    width: 100%;
    border-radius: 0.5rem;

    .label-box {
        padding: 0 0 0 1rem;
        background-color: white;
        border-radius: 0.5rem 0 0 0.5rem;

        .label {
            font-size: 1.6rem;
            min-width: 9rem;
        }
    }
    .search-input {
        padding: 1rem;
        font-size: 1.6rem;
        height: 100%;
        min-width: 15rem;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .search-button {
        height: 100%;
        min-width: 5rem;
        background-color: green;
        border-radius: 0 0.5rem 0.5rem 0;

        .search-icon {
            height: 4rem;
            width: 4rem;
        }
    }
}